<% include partials/avgrundHeader %>

<div class="container">
  <div id="searchrow" class="row">
    <div class="col-md-8">
      <form id="finalBook" action="/book" method="post">
        <input type="hidden" name="data" value="<%= JSON.stringify(flightData) %>">
        <% for (i = 1; i <= flightData.seats; i++) { %>
          <!-- Button trigger modal -->
          <button id="passengerBtn" type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#passmodal<%= i %>">
            Passenger <%= i %>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="passmodal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="passmodalTitle<%= i %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="passmodalTitle<%= i %>">Passenger Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="firstname<%= i %>">First Name</label>
                      <input name="passenger<%= i %>[fn]" type="text" class="form-control" id="firstname<%= i %>" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="lastname<%= i %>">Last Name</label>
                      <input name="passenger<%= i %>[ln]" type="text" class="form-control" id="lastname<%= i %>" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="homeairport<%= i %>">Home Airport</label>
                      <select name="passenger<%= i %>[homeairport]" class="form-control homeairport" id="homeairport<%= i %>">
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email<%= i %>">Email</label>
                      <input name="passenger<%= i %>[email]" type="email" class="form-control" id="email<%= i %>" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address1<%= i %>">Address 1</label>
                    <input name="passenger<%= i %>[address1]" type="text" class="form-control" id="address1<%= i %>" placeholder="Address 1">
                  </div>
                  <div class="form-group">
                    <label for="address2<%= i %>">Address 2</label>
                    <input name="passenger<%= i %>[address2]" type="text" class="form-control" id="address2<%= i %>" placeholder="Address 2">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <% } %>

        <div id="credaccord" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <p data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Credit Card
                </p>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="credit[type]" id="inlineRadio1" value="visa">Visa
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="credit[type]" id="inlineRadio2" value="discover">Discover
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="credit[type]" id="inlineRadio3" value="mastercard">MasterCard
                  </label>
                </div>
                <div class="form-group">
                  <label for="creditnumber">Credit Card Number</label>
                  <input name="credit[number]" type="text" class="form-control" id="creditnumber" placeholder="Card Number">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="securitycode">CVV</label>
                    <input name="credit[ccv]" type="number" class="form-control" id="securitycode" placeholder="CVV">
                  </div>
                </div>
                <div class="form-group">
                  <label for="billing">Billing Address</label>
                  <input name="credit[billingaddress]" type="text" class="form-control" id="billing" placeholder="Billing Address">
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div id="summary-column" class="col-md-4">

      <div id="summaryCard" data-seats="" data-depart="" data-return="" data-return-state="" class="card">
        <h3 class="card-header">Trip Summary</h3>
        <div class="card-body">
            <h5 class="card-text tripBold">Depart Route:</h5>
            <p class="card-text text-right"><%- flightData.depart.route.join('<i id="arrow" class="material-icons">arrow_forward</i>') %></p>
            <h5 class="card-text tripBold">Depart Duration:</h5>
            <p class="card-text text-right"><%= flightData.departTime %></p>
            <% if (flightData.returnState) { %>
              <h5 class="card-text tripBold">Return Route:</h5>
              <p class="card-text text-right"><%- flightData.return.route.join('<i id="arrow" class="material-icons">arrow_back</i>') %></p>
              <h5 class="card-text tripBold">Return Duration:</h5>
              <p class="card-text text-right"><%= flightData.returnTime %></p>
            <% } %>
            <h5 class="card-text tripBold">Total duration:</h5>
            <p data-deptime="" data-returntime="" class="card-text text-right"><%= flightData.totalDuration %></p>
            <h5 class="card-text tripBold">Price:</h5>
            <p class="card-text text-right">$ <%= flightData.totalPrice %></p>
            <button id="submitPass" class="btn btn-dark btn-block">Book</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="avgrund-cover"></div>

<aside id='avPopup' class="avgrund-popup">
	<h2 class="text-center">Error</h2>
  <hr style="margin-top : 0rem;">
	<p></p>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <button id="avgrundClose" class="btn btn-danger">Close</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</aside>

<script src="/scripts/avgrund.js"></script>
<script src="/scripts/book.js"></script>
<% include partials/footer %>
